.container{
    background-color: pink;
    border-radius: 5%;
    
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;


}

.description,
.ingredients,
.steps{
    width: 300px;
    text-align: left;
    margin: 0 auto;
}

.ingredients{

}

.steps{

}
li{
    margin: 15px;
}

body{
    background-color:rgb(235, 214, 218);
    text-align: center;
}